.exercise-page {
  padding: 0;
  margin: 0;
  margin-top: 80px; /* ⬆️ urcă-l puțin */
  margin-left: 200px; /* ⬅️ mută-l spre dreapta */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

  
  .exercise-page h3 {
    margin-bottom: 10px;
  }
  
  .exercise-page ul {
    list-style: none;
    padding: 0;
  }
  
  .exercise-page li {
    background: #f0f0f0;
    margin: 5px 0;
    padding: 0px;
    border-radius: 8px;
    cursor: pointer;
  }
  


  .exercise-card {
  background: transparent;
  border: 2px solid transparent;
  height: 400px;
  width: 700px;
  border-radius: 12px;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* progress bar */
.exercise-progress-bar {
  margin-left: 255px;
  margin-top: 635px;
  height: 12px;
  width: 83%;
  background-color: #f0e6d2;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: absolute;
}

.progress-fill {
  height: 100%;
  background-color: #c4a484;
  transition: width 0.4s ease-in-out;
}

.bar_and_exercise{
 
flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  overflow-y: auto;
}
/* 
partea de rezultat */

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
}

.result-card {
  max-width: 500px;
  padding: 40px 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff9ec;
  color: #4a3f35;
  transition: all 0.3s ease;
}

.result-card.success {
  border: 3px solid #65a765;
  background-color: #e6f4ea;
}

.result-card.fail {
  border: 3px solid #d87c7c;
  background-color: #fde8e8;
}

.return-button {
  margin-top: 30px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.return-button:hover {
  background-color: #218838;
}

.back-bar-exercises{
  position: absolute;
  padding-top: 20px;
  padding-left: 0px;
  margin-left: 550px;
  display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #4a3f35;
    cursor: pointer;
    margin-bottom: 25px;
    border-bottom: 1px solid #4a3f35;
    padding-bottom: 10px;
    width: 700%;
    max-width: 600px;
}

.xp-coins-box-exercitii {
  
  background-color: #fff;
  border: 2px solid #c4a484;
  border-radius: 12px;
  padding: 10px 16px;
  margin-right: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 14px;
  position: absolute;
  left: 1280px;
  top:18px;
  position: fixed;
  height: fit-content;
}