.notebook-page {
  padding-top:20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
}

.notebook-page h2 {
  margin-bottom: 20px;
}

.notebook-page textarea {
  width: 100%;
  height: 400px;
  padding: 16px;
  font-size: 16px;
  border: 2px solid #c4a484;
  border-radius: 10px;
  resize: vertical;
  background-color: #fffdf4;
  color: #333;
}

.notebook-page button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c4a484;
  color: #fff9ec;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
