.registerWraper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
  gap: 10px;
}

.register-climbing-plant2{
    width: 180px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 580px; 
    
  }
  .register-plant2{
    width: 120px; /* Adjust the size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 270px; 
  }
  

/* Container principal */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Card de înregistrare */
  .register-card {
    background-color: #fdf6e3;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #c4a484;
    width: 350px;
    text-align: center;
  }
  
  /* Titlu */
  .register-title {
    font-size: 24px;
    color: #4a3f35;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Input-uri */
  .register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c4a484;
    border-radius: 8px;
    background-color: #fff9ec;
    color: #4a3f35;
    font-size: 16px;
  }
  
  .register-input::placeholder {
    olor: #8b7765;
  }
  
  /* Buton Înregistrare */
  .register-button {
    width: 100%;
    padding: 10px;
    background-color: #c4a484;
    color: #fff9ec;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .register-button:hover {
    background-color: #a88d6f;
  }
  
  /* Eroare */
  .register-error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Link pentru login */
  .register-login-text {
    margin-top: 10px;
    font-size: 14px;
    color: #4a3f35;
  }
  
  .login-link {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  