@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3ead8;
  font-family: "Georgia", serif;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
